[submodule "shared/documents"]
	path = shared/documents
	url = https://github.com/typhed/shared.documents.git
	branch = master
[submodule "shared/components"]
	path = shared/components
	url = https://github.com/typhed/shared.components.git
	branch = master
